<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security-4.0.xsd">


    <security:authentication-manager alias="authenticationManager">
            <security:authentication-provider>
                <security:user-service id="user-service">
                    <security:user name="bob" password="bob" authorities="ROLE_USER,USER"/>
                </security:user-service>
            </security:authentication-provider>
    </security:authentication-manager>

    <security:http use-expressions="true" disable-url-rewriting="false">
        <security:intercept-url pattern="/css/**" access="permitAll"/>
        <security:intercept-url pattern="/bower_components/**" access="permitAll"/>
        <security:intercept-url pattern="/js/**" access="permitAll"/>
        <security:intercept-url pattern="/pages/**" access="isAuthenticated()"/>
        <security:form-login
                login-page="/login.html"
                authentication-failure-url="/login.html?error=1"
                login-processing-url="/login"/>
        <security:logout/>
    </security:http>


</beans>